<%- partial('_partial/header', {index: true}) %>
<% page.posts.each(function(post){ %>
<section>
    <%- partial('_partial/article', {post: post, index: true}) %>
</section>
<% }); %>

<nav class="main pagination">
    <% if (page.prev) { %><a class="newer-posts" href="<%- url_for(page.prev_link) %>">← Newer Posts</a><% } %>

    <span class="page-number">Page <%- page.current %> of <%- page.total %></span>

    <% if (page.next) { %><a class="older-posts" href="<%- url_for(page.next_link) %>">Older Posts →</a><% } %>
</nav>