<% if (theme.category){ %>
<section class="main archive-category-wrap">
    <h3 class="category-title">Categories</h3>
        <div class="category">
            <%- list_categories() %>
        </div>
</section>
<% } %>

<% var last; %>
<% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="main archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
    <% if (page.posts.length){ %>
    </div></section>
<% } %>
