
  

<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <div class="archive-article-link">
        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
      </div>
      <div class="archive-article-date">
        <a href="<%- url_for(post.link) %>">
        <%= date(post.date, 'MMM D')%>
        </a>
      </div>
      <!--<%- partial('post/date', {class_name: 'archive-article-date'}) %>
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>-->
    </header>
  </div>
</article>
