<section id="posts" class="text permalink-page <%= post.layout %>-<%= post.slug %>">
    <article id="<%= post.layout %>-<%= post.slug %>" class="post <%= post.layout %>">
        <%- partial('post/date') %>
        <%- partial('post/title') %>
        <div id="post-content">
             <% if (post.excerpt && index) { %>
                <%- post.excerpt %>
                <% if (theme.excerpt_link) { %>
                  <p class="article-more-link">
                    <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
                  </p>
                <% } %>
              <% } else { %>
              	  <%- post.content %>
              <% } %>
        </div
    </article>
    <footer class="clearfix">
        <%- partial('post/tag') %>
        <ul class="info clearfix">
            <li class="date"><a href="<%- url_for(post.path) %>"><%= date(post.date, 'MMM D')%>, <%= date(post.date, 'YYYY')%></a></li>
        </ul>
    </footer>
</section>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="disqus" class="clearfix">
    <h4>Recent comments</h4>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>

<% } %>


<% if (!index){ %>

<% if (config.disqus_shortname){ %>
<script>
  var disqus_shortname = '<%= config.disqus_shortname %>';
  <% if (page.permalink){ %>
  var disqus_url = '<%= page.permalink %>';
  <% } %>
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<% } %>

<!-----PERMALINK NAVIGATION----->
    <nav class="navigation clearfix">
        <%- partial('post/nav') %>
    </nav>
<!-----PERMALINK NAVIGATION----->
<% } %>