<!--FOOTER-->
<footer>
    <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-1.10.1.min.js"></script>
    <!-----MENU-->
    <script>
        $('#menu-button').click(function(){
            $('#menu').toggleClass('fullscreen');
            $('body').toggleClass('noscroll');
            $('.menu-title').addClass('show');
            $('.nav-button hr').toggleClass('hide');
            $('.nav-button .close').toggleClass('show');
        });
    </script>
    <% if (is_home()) { %>

    <!-----SCROLL-->
    <script>
        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 300) {
                $('.menu-title').addClass('show');
            } else {
                $('.menu-title').removeClass('show');
            }
        });
    </script>

    <% } %>


</footer>