<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('style') %>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,300,100,700" type="text/css" media="all">
  <% if (theme.nightmode){ %>
    <script type="text/JavaScript">
      function getStylesheet() {
        var currentTime = new Date().getHours();
        if (0 <= currentTime&&currentTime < 6) {
        document.write("<%- css('night') %>");
        }
        if (6 <= currentTime&&currentTime < 20) {
        document.write("<%- css('day') %>");
        }
        if (20 <= currentTime&&currentTime <= 24) {
        document.write("<%- css('night') %>");
        }
      }
      getStylesheet();
    </script>
  <% } else { %>
    <%- css('day') %>
  <% } %>
</head>