<header>
<nav class="menu">
    <div class="wrapper">
        <h6 class="menu-title show">
                <a href="/">
                    <img src="<%= theme.avatarlink %>" alt="<%= config.title %>">
                    <%= config.title %>
                </a>
            </h6>

        <div id="menu-button" class="nav-button">
            <hr>
            <hr>
            <hr>
            <span class="close">x</span>
        </div>
    </div>
</nav>

<div id="menu">
    <div id="search">
        <form action="//google.com/search" method="get" accept-charset="UTF-8">
            <input type="search" name="q" placeholder="Search...">
            <input type="hidden" name="q" value="site:<%- config.url %>">
        </form>
    </div>
    <ul id="links" class="clearfix">
        <% for (var i in theme.menu){ %>
            <li>
                <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>">
                    <%=i %>
                </a>
            </li>
            <% } %>

        <% if (theme.rss){ %>
            <li>
                <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="RSS Feed"></a>
            </li>
        <% } %>

        <li class="copyright"><a href="http://simplifytheme.tumblr.com">Simplify</a> version 1.2. Theme Designed &amp; Developed by <a href="#" />Amit Jakhu</a>. Powered by <a href="http://hexo.io">Hexo</a>.</li>
    </ul>
</div>
</header>