		/********************
		NIGHT MODE
		********************/

		/********************
		TEXT COLOR
		********************/

		body, a, .navigation a, #links li a, .menu .menu-title a, .menu .nav-button .close, #posts footer .date a, .post-date a {
			color: #ecf0f1;
		}

		#posts footer a, .quote h3:before {
			color: #bdc3c7;
		}

		.source, #notes .notes li, #notes .notes li a, .copyright, .copyright a {
			color: #95a5a6;
		}

		a:hover, #links li:hover a, .menu .menu-title:hover a, #posts footer a:hover, .menu .nav-button:hover .close, .post-date:hover a, #notes .notes li a:hover {
			color: #8fc045;
		}

		.navigation a:hover, #search input {
			color: #ffffff;
		}
		blockquote {
            color: #CCC;
		}
		/********************
		BACKGROUND COLOR
		********************/

		body {
			background: #2c3e50;
		}

		.menu {
			background: #34495e;
		}

		.navigation a {
			background: #34495e;
		}

		.menu .nav-button hr {
			background: #ecf0f1;
		}

		.navigation a:hover, .menu .nav-button:hover hr {
			background: #8fc045;
		}

		#menu {
			background: rgba(44,62,80,0);
		}

		.fullscreen {
			background: #2c3e50 !important;
			background: rgba(44,62,80,0.95) !important;
		}

		/********************
		BORDER COLOR
		********************/

		.navigation {
			border-top: 1px solid #34495e;
		}

		.menu, #search, .chat ul li {
			border-bottom: 1px solid #34495e;
		}

		#posts footer, #disqus {
			border-bottom: 2px solid #34495e;
		}