/*! normalize.css v1.1.2 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


		/********************
		GENERAL
		********************/


		::-moz-selection {
			background: #8fc045;
			color: #ffffff;
		}

		::selection {
			background: #8fc045;
			color: #ffffff;
		}

		.menu .wrapper, #links, #search, .title, #posts, .post, .post h3, .post p, .post ul, .post ol, .post .caption, .post .description, #posts footer, .response, #disqus, #notes, .page-title {
			/* width: 100%; */
			max-width: 700px;
			margin: 0 auto;
			position: relative;
		}

		/*.post h3, .post p, .post .caption, .post .description, #posts footer, .post blockquote, .post ul, .post ol, .chat ul, .response, #disqus, #notes, .page-title {
			max-width: 650px;
		}*/
		#post-content {
			max-width: 650px;
		}

		/********************
		TYPOGRAPHY
		********************/

		body, .quote h3:before {
			font-family: Georgia, 'Roboto Slab', Times, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, serif;
			font-size: 18px; /* 18px */
			line-height: 1.66666667em; /* 30px */
			font-weight: 400;
			-webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
			-moz-font-feature-settings: "kern" 1, "liga" 1;
			-moz-font-feature-settings: "kern=1, liga=1";
			-ms-font-feature-settings: "kern" 1, "liga" 1;
			-o-font-feature-settings: "kern" 1, "liga" 1;
			-webkit-font-feature-settings: "kern" 1, "liga" 1;
			font-feature-settings: "kern" 1, "liga" 1;
		}

		.navigation a, #posts footer, #links li a, .post-date a, #notes .notes li, .copyright, .copyright a {
			font-family: 'Montserrat', Arial, Helvetica, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
		}

		.menu .nav-button .close {
			font-family: 'Jura', 'Montserrat', Arial, Helvetica, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
		}

		h1, h2, h3, h4, h5, h6, blockquote {
			font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, serif;
			-moz-font-feature-settings: "onum" 1;
			-moz-font-feature-settings: "onum=1";
			-ms-font-feature-settings: "onum" 1;
			-o-font-feature-settings: "onum" 1;
			-webkit-font-feature-settings: "onum" 1;
			font-feature-settings: "onum" 1;
		}

		h1 {
			font-size: 1.8em;
			line-height: 1.1333333em; /* 68px */
			font-weight: 300;
		}

		h2 {
			font-size: 1.6em;/
			line-height: 1.1666667em; /* 56px */
			font-weight: 300;
			margin-bottom: 30px !important;
		}

		h3 {
			font-size: 1.4em;
			line-height: 1.2222222em; /* 44px */
			font-weight: 400;
			margin-bottom: 30px !important;
		}

		h4 {
			font-size: 1.2em;
			line-height: 1.2666667em; /* 38px */
			font-weight: 400;
			margin-bottom: 20px !important;
		}

		h5 {
			font-size: 1em;
			line-height: 1.3333333em; /* 32px */
			font-weight: 700;
			margin-bottom: 20px !important;
		}

		h6 {
			font-size: 0.8em;
			line-height: 1.4444444em; /* 26px */
			font-weight: 700;
		}

		a {
			text-decoration: underline;
		}

		p {
			margin-bottom: 30px !important;
			letter-spacing: 0.001em;
			-moz-font-feature-settings: "onum" 1;
			-moz-font-feature-settings: "onum=1";
			-ms-font-feature-settings: "onum" 1;
			-o-font-feature-settings: "onum" 1;
			-webkit-font-feature-settings: "onum" 1;
			font-feature-settings: "onum" 1;
		}

		p:last-child {
			margin-bottom: 0;
		}
		hr {
		  border: none;
		  border-bottom: 1px solid #cfcfcf;
		  margin-bottom: 0.8em;
		  height: 10px;
		}

		blockquote {
			color: #000;
			font-size: 1.1em;
			font-style: italic;
			margin: 0 auto 1.5em;
			text-align: center;
			width: 70%;
			position: relative;
			z-index: 10;
			font-family:'Crimson Text', Georgia,'Roboto Slab', Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, serif;
		}

		p + blockquote,
		blockquote + blockquote {
			margin: 3em auto 3em;
		}

		p + blockquote:after,
		blockquote + blockquote:after {
			display: block;
			width: 50%;
			height: 0;
			border-bottom: 1px solid #aaa;
			content: "";
			margin: 75px auto 0;
		}

		blockquote:before {
		  content: '“';
		  font-size: 2em;
		  line-height: 1em;
		  font-weight: 700;
		  display: block;
		  position: absolute;
		  left: -40px;
		  z-index: -1;
		  opacity: 0.25;
		  filter: alpha(opacity=25);
		}

		blockquote p {
			margin: 0;
		}

		blockquote  ul li {
			font-style:normal;
			text-align:left;
		}
		blockquote cite,
		blockquote cite a,
		blockquote cite a:visited {
			color: #999;
			display: block;
			font-size: 12px;
			font-size: 1.2rem;
			font-style: normal;
			margin: 1em 0 0;
			text-transform: uppercase;
		}

		blockquote cite a:hover,
		blockquote cite a:focus,
		blockquote cite a:active {
			color: #707070;
		}

		.table th, .table td, .typo-table th, .typo-table td, .table caption {
			  border: 1px solid #ddd;
			  padding: 0.5em 1em;
			  color: #666;
		}

		.table th, .typo-table th {
			  background: #fbfbfb;
		}

		.table thead th, .typo-table thead th {
			  background: #f1f1f1;
		}

		.table caption {
			  border-bottom: none;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			margin-bottom: 1.5em;
			font-size: 0.96em;
		}

		th,
		 td {
			text-align: left;
			padding: 4px 8px 4px 10px;
			border: 1px solid #dadada;
		}

		td {
			vertical-align: top;
		}

		.post ul, .post ol {
			padding: 0;
			margin: 5px 0 15px 60px;
		}

		.post ul li, .post ol li {
			margin: 5px 0;
		}

		h3.post-title {
			font-size:2em;
		}
		strong {
			font-weight: 700;
		}

		em {
			font-style: italic;
		}

		.page-title {
			text-align: left;
			margin-bottom: 40px !important;
		}
		.main {
			max-width: 700px;
			margin: 0 auto;
		}

		/********************
		HEADER
		********************/

		body>header{
			padding-bottom: 125px;
		}
		body>header.home{
			padding:0;
		}
		#logo {
			position: relative;
			margin-top: 125px;
		}

		.portrait {
			width: 128px;
			height: 128px;
			display: block;
			position: relative;
			margin: 0 auto;
			border: 5px solid #fff;
			border-radius: 50%;
		}

		.portrait img {
			border-radius: 50%;
		}

		.title {
			font-size: 3.333333em;
			text-align: center;
			margin: 30px auto 90px auto !important;
		}

		.title a {
			text-decoration: none;
		}

		/********************
		NAVIGATION
		********************/
		.pagination {
		    position: relative;
		    width: 80%;
		    max-width: 700px;
		    margin: 4rem auto;
		    font-family: 'Open Sans', sans-serif;
		    font-size: 0.8em;
		    color: #9EABB3;
		    text-align: center;
		}

		.pagination a {
		    color: #9EABB3;
		}
		.older-posts,
		.newer-posts {
		    position: absolute;
		    display: inline-block;
		    padding: 0 15px;
		    border: #EBF2F6 2px solid;
		    text-decoration: none;
		    /*border-radius: 30px;*/
		    transition: border ease 0.3s;
		}

		.older-posts {
		    right: 0;
		}

		.page-number {
		    display: inline-block;
		    padding: 2px 0;
		}

		.newer-posts {
		    left: 0;
		}

		.older-posts:hover,
		.newer-posts:hover {
		    border-color: #9EABB3;
		}

		.navigation {
			width: 100%;
			display: block;
			position: relative;
			top: 30px;
			overflow: hidden;
		}

		.navigation a {
			font-weight: 700;
			font-size: 2em; /* 36px */
			line-height: 1em; /* 36px */
			text-transform: uppercase;
			letter-spacing: 0.025em;
			text-align: center;
			width: 50%;
			display: inline-block;
			margin: 0;
			padding: 50px 0;
			text-decoration: none;
		}

		.navigation .nav-next {
			float: left;
			height: 72px;
		}

		.navigation .permalink-nav-previous {
			float: right;
			max-height: 72px;
		}
		.article-nav-title {
			font-size: 18px;
		}
		/********************
		POSTS
		********************/

		.text h3 a, .chat h3 a, .answer h3 a, .archives-wrap a {
			text-decoration: none;
		}

		.text img, .photo img, .link img, .quote img, .chat img {
			max-width: 100%;
			position: relative;
			margin: 0 auto 30px auto;
			display: block;
		}

		.text img, .photo img, .photoset img, .photo-slideshow .pxu-photo, embed, iframe, object, figure, .video-wrap, #player, .video-wrapper, video {
			border-radius: 4px !important;
		}

		.video-container {
			position: relative;
		    padding-top: 56.25%;
		    height: 0;
		    overflow: hidden;
		}
		.video-container iframe {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    margin-top: 0;
		}
		.post .caption, .post .description {
			margin-top: 30px;
		}

		.post .source {
			margin: 30px 0 0 60px;
		}

		.quote h3 {
			position: relative;
			z-index: 10;
		}

		.quote h3:before {
			content: '“';
			font-size: 6em; /* 60px */
			line-height: 1em; /* 68px */
			font-weight: 700;
			display: block;
			position: absolute;
			top: -40px;
			left: -40px;
			z-index: -1;
			opacity: 0.25;
			filter: alpha(opacity=25);
		}

		.chat ul {
			margin: 0 auto;
			padding: 0;
			list-style: none;
		}

		.chat ul li {
			margin: 0;
			padding: 11px 0 11px 0;
		}

		.chat ul li:first-child {
			padding-top: 0;
		}

		.chat ul li .label {
			font-weight: 700;
			margin-right: 3px;
		}

		.audio iframe, .audio object, .audio embed {
			width: 100% !important;
			height: inherit !important;
		}

		.answer .response strong {
			display: inline;
			float: left;
			margin-right: 8px;
		}

		.post-date {
			position: absolute;
			top: 0;
			left: -115px;
		}

		.post-date a {
			display: block;
			text-align: left;
			font-size: 1em; /* 18px */
			line-height: 1.4444444em; /* 26px */
			font-weight: 400;
			text-decoration: none;
		}

		.link {
			text-decoration: none;
		}


		.soundcloud_audio_player {
			width: 100%;
		}

		/********************
		FOOTER
		********************/

		#posts footer {
			padding-bottom: 80px;
			margin: 30px auto 80px auto;
			display: block;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.005em;
			text-align: left;
		}

		#posts footer .info {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		#posts footer .info li {
			margin: 0 15px 0 0;
			padding: 0;
			display: inline;
		}

		#posts footer .info .date {
			display: none;
		}

		#posts footer .info a {
			font-size: 0.7222222em; /* 13px */
			line-height: 1.461538em; /* 19px */
			text-decoration: none;
		}

		#posts footer .tags-list {
			list-style: none;
			margin: 0 0 10px -5px;
			padding: 0;
			max-width: 650px;
			display: block;
		}

		#posts footer .tags-list .tags-list-item {
			margin: 0 10px 0 0;
			padding: 0;
			display: inline-block;
			white-space: nowrap;
		}

		#posts footer .tags-list .tags-list-item a {
			padding: 5px;
			font-size: 0.6111111em; /* 11px */
			line-height: 1.54545454em; /* 17px */
			text-decoration: none;
		}

		/********************
		MENU
		********************/

		.menu {
			z-index: 20000;
			position: fixed;
			top: 0;
			padding: 10px 0;
			margin: 0;
			width: 100%;
		}

		.menu .menu-title {
			margin: 0;
			padding: 0;
			position: relative;
			display: block;
			max-width: 90%;
			z-index: 21000;
			visibility: hidden;
			opacity: 0;
			filter: alpha(opacity=0);
		}

		.menu .menu-title a {
			text-decoration: none;
			margin: 0;
			padding: 15px;
			display: block;
			margin-left: -15px;
		}

		.menu .menu-title a img {
			max-width: 32px;
			max-height: 32px;
			margin-right: 15px;
			margin-top: -3px;
			position: relative;
			border-radius: 50%;
			display: inline;
			float: left;
		}

		.menu .nav-button {
			display: block;
			margin: 0;
			padding: 15px;
			z-index: 21000;
			cursor: pointer;
			width: 25px;
			height: 25px;
			position: absolute;
			right: -15px;
			top: 0;
		}

		.menu .nav-button hr {
			margin: 4px 0;
			padding: 0;
			outline: none;
			border: none;
			height: 3px;
			border-radius: 2px;
			width: 100%;
			display: block;
		}


		.menu .nav-button .close {
			position: absolute;
			top: 12px;
			left: 14px;
			display: block;
			width: 25px;
			height: 25px;
			font-size: 40px;
			font-weight: 600;
			line-height: none;
			opacity: 0;
			filter: alpha(opacity=0);
			visibility: hidden;
		}

		#menu {
			position: fixed;
			opacity: 0;
			filter: alpha(opacity=0);
			visibility: hidden;
			-webkit-overflow-scrolling: touch;
			overflow-y: scroll;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		#search {
			display: block;
			margin: 100px auto 10px auto;
		}

		#search input {
			font-size: 3.333333em; /* 60px */
			line-height: 1.1333333em; /* 68px */
			font-weight: 700;
			text-align: center;
			display: block;
			width: 100%;
			padding: 10px 0 25px 0;
			margin: 0;
			border: none;
			outline: none;
			background: transparent;
		}

		#links {
			z-index: 17500;
			width: 100%;
			margin: 0 auto;
			list-style: none;
			padding: 0;
		}

		#links li {
			display: block;
			margin: 10px auto;
		}

		#links li:first-child {
			margin-top: 0;
		}

		#links li a {
			font-size: 2.6666667em; /* 48px */
			line-height: 1.1666667em; /* 56px */
			font-weight: 700;
			text-align: center;
			display: block;
			padding: 25px 0;
			text-decoration: none;
		}

		.fullscreen {
			z-index: 15000 !important;
			opacity: 1 !important;
			filter: alpha(opacity=100) !important;
			visibility: visible !important;
			zoom: 1 !important;
		}

		.copyright {
			opacity: 0.5;
			filter: alpha(opacity=50);
		}

		.copyright, .copyright a {
			font-size: 12px !important;
			line-height: 18px !important;
			font-weight: 400 !important;
			text-align: center !important;
			padding: 0 !important;
		}

		.copyright a {
			display: inline !important;
		}

		/********************
		COMMENTS AND NOTES
		********************/

		#disqus, #notes {
			margin-bottom: 100px !important;
		}

		#notes .notes {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		#notes .notes li {
			margin: 10px 0;
			font-size: 0.777777778em; /* 14px */
			line-height: 1.428571em; /* 20px */
			font-weight: 400;
		}

		#notes .notes li a {
			text-decoration: none;
		}

		#notes .notes li img {
			border-radius: 50%;
			margin-bottom: -3px;
			margin-right: 8px;
		}

		#notes .notes li blockquote {
			margin: 12px 0 12px 40px;
			font-size: 1em; /* 18px */
			line-height: 1.5555557em; /* 28px */
		}

		#notes .notes .more_notes_link_container {
			margin-top: 40px;
		}

		#notes .notes .more_notes_link_container a {
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.005em;
		}

		/********************
		ANIMATIONS AND TRANSITIONS
		********************/

		.menu .menu-title, #menu, a, .nav-button hr, .nav-button .close {
			transition: all 0.15s;
		}

		/********************
		MISC
		********************/

		.noscroll {
			overflow: hidden !important;
			overflow-y: hidden !important;
			position: relative !important;
			zoom: 1 !important;
		}

		.hide {
			opacity: 0 !important;
			filter: alpha(opacity=0) !important;
			visibility: hidden !important;
		}

		.show {
			opacity: 1 !important;
			filter: alpha(opacity=100) !important;
			visibility: visible !important;
		}

		/********************
		PXU Photoset Extended Styles
		********************/

		.clearit:before, .clearit:after { content: ""; display: table; }.clearit:after { clear: both; }.clearit { *zoom: 1; }

		.photo-slideshow {
		  visibility: hidden;
		}

		.photo-slideshow.processed {
		  visibility: visible;
		}

		.photo-slideshow .row {
			clear: both;
			width: 100%;
		}

		.photo-slideshow .pxu-photo {
			display: block;
			float: left;
			margin-bottom: 0;
			width: 100%;
			overflow: hidden;
		}

		.photo-slideshow .pxu-photo a {
			display: block;
			position: relative;
			z-index: 10000;
		}

		.photo-slideshow .pxu-photo img {
			width: 100%;
			height: auto;
		}

		.photo-slideshow .pxu-photo:first-child img {
			margin-left: 0;
		}

		.photo-slideshow .count-1 {
			width: 100%;
		}

		.photo-slideshow .count-2 {
			width: 50%;
		}

		.photo-slideshow .count-3 {
			width: 33.3%;
		}

		.photo-slideshow .count-3:first-child {
			width: 33.4%;
		}

		.photo-slideshow .count-4 {
			width: 25%;
		}

		.photo-slideshow .count-5 {
			width: 20%;
		}

		.photo-data {
		  position: relative;
		  float: left;
		}

		/********************
		MOBILE
		********************/
		@media only screen and (max-width: 960px) {
			.post-date {
				display: none;
			}

			#posts footer .info .date {
				display: inline;
			}
		}

		@media only screen and (max-width: 720px) {
			body {
				font-size: 16px;
			}
			#post-content {
				max-width: none;
			}
			#posts, .menu .wrapper, #search input, #disqus, #notes, .page-title, #links {
				width: 90%;
				margin: 0 auto;
			}
		}

		@media only screen and (max-width: 480px) {
			body {
				font-size: 14px;
			}

			.title {
				margin: 30px auto 40px auto !important;
			}

			.menu {
				padding: 5px 0;
			}

			.menu .menu-title {
				line-height: 1.714285em; /* 24px */
				max-width: 84%;
			}

			#search {
				margin: 80px auto 10px auto;
			}

			#links li {
				margin: 5px auto;
			}

			#links li a {
				padding: 15px 0;
			}

			.navigation {
				top: 0;
			}

			.navigation a {
				padding: 20px 0;
			}

			h2 {
				margin-bottom: 15px !important;
			}

			h2, #links li a, #search input {
				font-size: 2em; /* 36px */
				line-height: 1.2222222em; /* 44px */
			}

			h3 {
				font-size: 1.6666667em; /* 30px */
				line-height: 1.2666667em; /* 38px */
				margin-bottom: 15px !important;
			}

			h4 {
				font-size: 1.3333333em; /* 24px */
				line-height: 1.3333333em; /* 32px */
				margin-bottom: 10px !important;
			}

			h5 {
				margin-bottom: 10px !important;
			}

			h5, .navigation a {
				font-size: 1em; /* 18px */
				line-height: 1.4444444em; /* 26px */
			}

			blockquote {
				margin: 2px 0 15px 20px;
			}

			p {
				margin-bottom: 17px !important;
			}

			.chat ul li {
				margin: 0;
				padding: 7px 0 7px 0;
			}

			.permalink-page {
				margin-top: 90px !important;
			}

			#posts footer {
				padding-bottom: 30px;
				margin: 20px auto 40px auto;
			}

			#posts footer .info a {
				font-size: 0.857142em; /* 12px */
				line-height: 1.5em; /* 18px */
			}

			#posts footer .tags .tag a {
				font-size: 0.7857142em; /* 11px */
				line-height: 1.54545454em; /* 17px */
			}

			#disqus, #notes {
				margin-bottom: 50px !important;
			}
		}

		/********************
		CODE
		********************/
		.post pre,
		.post .highlight {
		  background: #f7f7f7 !important;
		  margin: 20px 0;
		  padding: 15px;
		  overflow: auto;
		  font-size: 13px;
		  color: #4d4d4c;
		  line-height: 1.2;
		}
		.post .highlight .gutter pre,
		.post .gist .gist-file .gist-data .line-numbers {
		  color: #666;
		}
		.post pre,
		.post code {
		  font-family: "PT Mono", Consolas, Monaco, Menlo, monospace;
		}
		.post code {
		  background: #eee;
		  text-shadow: 0 1px #fff;
		  padding: 0 0.3em;
		}
		.post pre code {
		  background: none;
		  text-shadow: none;
		  padding: 0;
		}
		.post .highlight pre {
		  border: none;
		  margin: 0;
		  padding: 0;
		}
		.post .highlight table {
		  margin: 0;
		  width: auto;
		}
		.post .highlight td {
		  border: none;
		  padding: 0;
		}
		.post .highlight figcaption {
		  font-size: 0.85em;
		  color: #8e908c;
		  line-height: 1em;
		  margin-bottom: 1em;
		}
		.post .highlight figcaption:before,
		.post .highlight figcaption:after {
		  content: " ";
		  display: table;
		}
		.post .highlight figcaption:after {
		  clear: both;
		}
		.post .highlight figcaption a {
		  float: right;
		}
		.post .highlight .gutter pre {
		  text-align: right;
		  padding-right: 20px;
		}
		.post .highlight .line {
		  height: 20px;
		}
		.post .gist {
		  margin: 20px 0;
		  border-style: solid;
		  border-color: #ccc;
		  border-width: 1px 0;
		  background: #f7f7f7;
		  padding: 15px 40px 15px 15px;
		}
		.post .gist .gist-file {
		  border: none;
		  font-family: "PT Mono", Consolas, Monaco, Menlo, monospace;
		  margin: 0;
		}
		.post .gist .gist-file .gist-data {
		  background: none;
		  border: none;
		}
		.post .gist .gist-file .gist-data .line-numbers {
		  background: none;
		  border: none;
		  padding: 0 20px 0 0;
		}
		.post .gist .gist-file .gist-data .line-data {
		  padding: 0 !important;
		}
		.post .gist .gist-file .highlight {
		  margin: 0;
		  padding: 0;
		  border: none;
		}
		.post .gist .gist-file .gist-meta {
		  background: #f7f7f7;
		  color: #8e908c;
		  font: 13px Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
		  text-shadow: 0 0;
		  padding: 0;
		  margin-top: 1em;
		  margin-left: 40px;
		}
		.post .gist .gist-file .gist-meta a {
		  color: color-link;
		  font-weight: normal;
		}
		.post .gist .gist-file .gist-meta a:hover {
		  text-decoration: underline;
		}
		.archives-wrap {
			clear: both;
		}
		.archive-year-wrap {
			font-size:2em;
		}
		.archive-article, .category-list {
			float: left;
			padding: 10px 5px;
			margin: 10px 20px 10px 0;
			background-color: rgba(0, 0, 0, 0.04);
		}
		.archive-article-link a,category-list-link a {
			text-decoration: underline;
		}
		.archive-article-date {
			font-size: 0.8em;
			float: right;
		}
		.category {

		}
		.category-list {
			list-style: none;
		}
		.category-list-count {

		}
		.category-list-count:before {
			content: "(";
		}
		.category-list-count:after {
			content: ")";
		}

		/*scrollbar*/

		::-webkit-scrollbar {
		    width: 8px;
		    height: 8px;
		}

		::-webkit-scrollbar-track-piece {
		    background-color: #D9D9D9;
		}

		::-webkit-scrollbar-thumb {
		    border: 0;
		}

		::-webkit-scrollbar-thumb:vertical:hover,
		::-webkit-scrollbar-thumb:horizontal:hover {
		    background-color: #aaa;
		}

		::-webkit-scrollbar-thumb:vertical {
		    height: 5px;
		    background-color: #bbb;
		}

		::-webkit-scrollbar-thumb:horizontal {
		    width: 5px;
		    background-color: #bbb;
		}